<!DOCTYPE html>
<html>
<head>
  <title>
    {web name='title' /}
  </title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/default.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
  <script type="text/javascript" src="__PUBLIC__/js/jquery1.42.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.SuperSlide.2.1.1.js"></script>


</head>
<body>
<!--header-->
{include file="public/header"/}

<!--公司概况-->
<div class="general w1200 cleafix">
  <div class="geneL fl">
    <a class="cur" href="{:url('index/companyinfo')}"><span><i></i>公司介绍<i class="ico"></i></span></a>
    <em><img src="__PUBLIC__/images/companyinfo/woshou.jpg"  /></em>
  </div>
  <div class="geneR fr">
    <h2 class="titDiv"><span><i></i>公司介绍<i class="ico"></i></span></h2>
    <p style="margin-bottom:10px;text-indent:32px;line-height:150%"><span style="font-size:16px;line-height:150%;font-family:宋体">雷洛集团
            <span style="line-height: 150%; font-family: 宋体; font-size: 16px;"><sup>®</sup>
        </span>是一家集金融、地产、汽车融资租赁、私募股权基金于一体的综合性集团公司，下辖有
    上海雷洛资产管理有限公司、上海福子投资管理有限公司、河南车便利融资租赁有限公司、华鼎富
    国投资控股集团有限公司(北京)、深圳福兴企业管理有限公司。
      </span></p><p style="margin-bottom:10px;text-indent:32px;line-height:150%">

          <span style="font-size:16px;line-height:150%;font-family:宋体">其中上海雷洛资产管理有限公司是一家私募股权、新三板投资类公司，是中国证券投资基金业协会会员，并获中国证券业协会批准成为 IPO 询价对象。与国内多家大型金融机构合作发行并管理多支证券类信托基金，投研团队为券商自
    营、投行、私募基金和市场派的完美组合，从容应对市场复杂变化！公司投资方向为主动管理、量化对冲、程
    序化交易等高端财富管理领域，在行业内享有盛誉！雷洛资产专注于中国股票市场，长期业绩优异！</span>


    </p><p style="margin-bottom: 10px; text-indent: 32px; line-height: 150%; text-align: center;"><img src="__PUBLIC__/images/companyinfo/rongyuzizhi.jpg"   /></p><p style="margin-bottom: 10px; line-height: 150%; text-align: center; text-indent: 0em;"><br/></p>

      <i><img src="__PUBLIC__/images/companyinfo/5jiao.jpg"  /></i>
  </div>
</div>

<!--footer-->
{include file="public:footer"/}
</body>
</html>