
	<div class="nav_bg">
		<div class="headerWrap">
			<div class="header w1200 cleafix">
				<!--热线-->
				<div class="hotLine">
					<a href="javascript:;" >李先生</a>
					<em></em>
					<span>热线：18739907226</span>
				</div>
				<!--logo-->
				<div class="logo fl"><a href="/" ><img src="__PUBLIC__/images/logo.png" /></a></div>
				<!--nav-->
				<ul id="nav" class="nav clearfix">
					<li class="nLi {if !$head_on || !$head_on=='index' }on{/if}">
						<h3><a href="/" >首页</a></h3>
					</li>
					<li class="nLi {if $head_on == 'companyinfo'}on{/if}">
						<h3><a href="{:url('index/companyinfo')}" >公司概况</a></h3>
					</li>
					<li class="nLi {if $head_on == 'shortLineNuggets'}on{/if}">
						<h3><a href="{:url('index/shortLineNuggets')}" >招商加盟</a></h3>
					</li>
					{if 0==1}<li class="nLi {if $head_on == 'team'}on{/if}">
						<h3><a href="{:url('index/team')}" >投资团队</a></h3>
					</li>{/if}
					<li class="nLi {if $head_on == 'contact'}on{/if}">
						<h3><a href="{:url('index/contact')}" >联系我们</a></h3>
					</li>
				</ul>
			</div>
		</div>
	</div>


