<!DOCTYPE html>
<html>
<head>
  <title>
    {web name='title' /}
  </title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/default.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
  <script type="text/javascript" src="__PUBLIC__/js/jquery1.42.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.SuperSlide.2.1.1.js"></script>


</head>
<body>
<!--header-->
{include file="public/header"/}

<div class="groupDiv w1200">
    <ul class="groupUl cleafix">
        <li>
            <a class="groupImg" href="#"><img src="__PUBLIC__/images/team/17f173c2c90c12e7a4954f75594d1102.png" /></a>
            <div class="groupTxt">
                <h2><a href="#">杨桂森</a><span>高级投顾</span></h2>
                <p>执业资格证号：A1140616110026</p>
                <p>投资宣言：研究创造价值，分享成就人生</p>
                <p>核心理论：<em>独创引领市场的双保险投资模型-“贝塔+阿尔法预警实战技法”</em></p>
                <p>擅长战法：<em>长期致力于投资风险的划型研究，强调收益的风险配比关系，擅长动态分析行业和公司的内在价值演化，以重势重质为核心</em></p>
                <p>操盘风格：<em>其反常合道的投资风格呈现出强烈的“唯快不破”特性</em></p>
            </div>
        </li>
        <li>
            <a class="groupImg" href="#"><img src="__PUBLIC__/images/team/adf0fdcc5bf318e2a26692728d38a8ca.png" tppabs="http://www.djc888.com/uploads/20180222/adf0fdcc5bf318e2a26692728d38a8ca.png" /></a>
            <div class="groupTxt">
                <h2><a href="#">杨翠连</a><span>高级投顾</span></h2>
                <p>执业资格证号：A1140616150003</p>
                <p>投资宣言：授之以鱼更要授之以渔</p>
                <p>核心理论：<em>基于基本面的逻辑挖掘和技术面的点位控制，创立“二元双爆发选股体系”</em></p>
                <p>擅长战法：<em>对于图表分析集大家之长，不但能做到深入浅出，更能化腐朽为神奇，对趋势、K线、盘口及风控更是洞若观火、高效全能利用</em></p>
                <p>操盘风格：<em>超稳定、低回撤</em></p>
            </div>
        </li>
        <li>
            <a class="groupImg" href="#"><img src="__PUBLIC__/images/team/86cc155a67d88d5018cad183a5a8a586.png" tppabs="http://www.djc888.com/uploads/20180316/86cc155a67d88d5018cad183a5a8a586.png" /></a>
            <div class="groupTxt">
                <h2><a href="#">刁勤林</a><span>高级投顾</span></h2>
                <p>执业资格证号：A1140617010004</p>
                <p>投资宣言：独乐乐不如众乐乐</p>
                <p>核心理论：<em>基于多种战略战术相结合的综合策略分析</em></p>
                <p>擅长战法：<em>历任海通、申万、天信首席投顾，先后在新华网、上证网、中证网等发文数百篇，13年参加第一财经睿投顾首期全国实名投顾大赛名列前茅，经过18年实战独创“悟性分析法”</em></p>
                <p>操盘风格：<em>顺势而为</em></p>
            </div>
        </li>

    </ul>
</div>

<!--footer-->
{include file="public:footer"/}
</body>
</html>