<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小小打飞机</title>
    <link rel="stylesheet" href="__PUBLIC__/css/dafeiji.css">
</head>
<body>
<div id="contentdiv">
    <div id="startdiv">
        {if isset($userinfo)}
            <div class="weixin-user" style="width: 100%;float: left;margin: 10px 0 0 10px;">
                <img style="float: left;border-radius: 50%;" width="50" height="50" src="{$userinfo['headimgurl']}">
                <div style="float: left;margin-left:10px;line-height: 50px;color: #686a6b;font-weight: bold;text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;">{$userinfo['nickname']}</div>
                <div style="float: right;line-height: 50px;margin-right: 30px;">最高分：<b>{$scores.scores}</b></div>
            </div>
        {/if}
        <p class="tiaozhan1w">挑战 <b class="onewfen">10000</b> 分</p>
        <button onclick="begin()">开始游戏</button>
    </div>
    <div id="maindiv">
        <div id="scorediv">
            <label>分数：</label>
            <label id="label">0</label>
        </div>
        <div id="scorediv">
            <label>分数：</label>
            <label id="label">0</label>
        </div>
        <div id="suspenddiv">
            <button>继续</button><br/>
            <button>重新开始</button><br/>
            <button>回到主页</button>
        </div>
        <div id="enddiv">
            <p class="plantext">飞机大战分数</p>
            <p id="planscore">0</p>
            <div><button onclick="jixu()">继续</button></div>
        </div>
        <div id="overgzDiv">
            <img class="overBgImg" src="__PUBLIC__/images/weixin/dafeiji/over.png">
            <img style="margin-left: 25%;margin-top: 89%;width: 50%;" src="__PUBLIC__/images/weixin/dafeiji/weixin.jpg">
        </div>
        <div id="overfxDiv">
            <img class="overBgImg" src="__PUBLIC__/images/weixin/dafeiji/over_fx.png">
        </div>
        <!-- <div id="fuhuoDiv">
            <p>很遗憾，您阵亡了</p>
            <p>长按二维码关注公众号可以获取一次复活机会</p>
            <img width="100" height="100" src="__PUBLIC__/images/weixin/dafeiji/weixin.jpg">
            <div><button onclick="zanting('over')">复活</button></div>
            <div><button onclick="overCount()">阵亡</button></div>
        </div> -->
    </div>
</div>
{if $is_login}
{/if}
<script>
    scoresUrl = "{:url('weixin/index/dafeijiScores')}";
    isguanzhuUrl = "{:url('weixin/index/isguanzhu')}";
    hongbaoUrl = "{:url('weixin/index/hongbao')}";
</script>
<script type="text/javascript" src="/static/admin/layer_mobile/layer.js"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/layer_mobile/need/layer.css" >
<script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
{js href="__PUBLIC__/js/dafeiji.js" /}

{if !$is_login}
<script>
    $(function(){
        var redirect_uri = "{if $data.callback}{$data.callback}{else}http://fxgufen.lenyue.top/weixin/login/callback{/if}";
        location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxf1b35fc53dc1cf55&redirect_uri="+redirect_uri+"&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect";
    });
</script>
{/if}
{if $is_login}
     <script>
        wx.config({
            //debug: true,
            appId: '{$jssdk.appid}',
            timestamp: {$jssdk.timestamp},
            nonceStr:'{$jssdk.nonceStr}',
            signature: '{$jssdk.signature}',
            jsApiList: [
                // 所有要调用的 API 都要加到这个列表中
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'hideMenuItems'
            ]
        });
        wx.ready(function () {
            // 在这里调用 API
            wx.checkJsApi({
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'hideMenuItems'
                ],
                success: function (res) {
//                alert(JSON.stringify(res));
                }
            });
            //朋友圈
            wx.onMenuShareTimeline({
                title: '股民福利！股民福利！！！', // 分享标题
                desc : "对面的帅哥美女看过来看过来看过来(〃'▽'〃) ~ 哇塞！股民专属的福利来了，在家躺着也能赚钱！！！",
                link: window.location.href, // 分享链接
                imgUrl: '{$userinfo['headimgurl']}', // 分享图标
                success: function () {
                    if (isguanzhu == 1){
                        fuhuo();
                    }
                },
                cancel: function () {
                    layer.open({
                        content: '哎呀呀，还差一点点就可以复活啦<br />o(╥﹏╥)o',
                        btn: '马上分享',
                        shadeClose: false,
                        yes: function(){
                            layer.open({
                                content:'达到5000分可以直接领取现金红包哦(*^▽^*)',
                                time:3,
                                skin:'msg'
                            });
                        }
                    });
                }
            });
            //好友
            wx.onMenuShareAppMessage({
                title: '股民福利！股民福利！！！', // 分享标题
                desc : "对面的帅哥美女看过来看过来看过来(〃'▽'〃) ~ 哇塞！股民专属的福利来了，在家躺着也能赚钱！！！",
                link: window.location.href, // 分享链接
                imgUrl: '{$userinfo['headimgurl']}', // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    //必须要 isguanzhu = 1 也就是必须已经关注了，才能起作用
                    if (isguanzhu == 1){
                        fuhuo();
                    }
                },
                cancel: function () {
                    layer.open({
                        content: '哎呀呀，还差一点点就可以复活啦<br />o(╥﹏╥)o',
                        btn: '马上分享',
                        shadeClose: false,
                        yes: function(){
                            layer.open({
                                content:'达到5000分可以直接领取现金红包哦(*^▽^*)',
                                time:3,
                                skin:'msg'
                            });
                        }
                    });
                }
            });
            wx.hideMenuItems({
                menuList: ['menuItem:share:qq', 'menuItem:share:weiboApp', 'menuItem:favorite', 'menuItem:share:QZone', "menuItem:copyUrl", 'menuItem:openWithQQBrowser', 'menuItem:share:email', 'menuItem:openWithSafari'] // 要显示的菜单项，所有menu项见附录3
            });
        });
    </script>
{/if}
</body>
</html>
