<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
  <title>大抽奖</title>

  <link href="__PUBLIC__/css/layer.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/css/choujiang.css" rel="stylesheet" type="text/css" />

  <script src="__PUBLIC__/js/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/layer.js"></script>
  <script src="__PUBLIC__/js/choujiang.js"></script>

</head>
<body>

<!-- <div class="headerWrapper container-fluid">
</div> -->

<div class="divTop">
  <img src="__PUBLIC__/images/weixin/choujiang/top01.jpg" >
</div>
<div class="divTop">
  <img src="__PUBLIC__/images/weixin/choujiang/top02.jpg" >
</div>

<main class="mainBg">
  <div class="draw" id="lottery" >
    <table>
      <tr>
        <td class="item lottery-unit lottery-unit-0">
          <div class="img">
            <img src="__PUBLIC__/images/weixin/choujiang/prize01.png" alt="">
          </div>
          <span class="name">超级魅力大礼包</span>
        </td>
        <td class="gap"></td>
        <td class="item lottery-unit lottery-unit-1">
          <div class="img">
            <img src="__PUBLIC__/images/weixin/choujiang/prize02.png" alt="">
          </div>
          <span class="name">超级大礼包</span>
        </td>
        <td class="gap"></td>
        <td class="item lottery-unit lottery-unit-2">
          <div class="img">
            <img src="__PUBLIC__/images/weixin/choujiang/prize03.png" alt="">
          </div>
          <span class="name">好股大礼包</span>
        </td>
      </tr>
      <tr>
        <td class="gap-2" colspan="5"></td>
      </tr>
      <tr>
        <td class="item lottery-unit lottery-unit-7">
          <div class="img">
            <img src="__PUBLIC__/images/weixin/choujiang/iPhonex.png" alt="">
          </div>
          <span class="name">iPhone x免费来领</span>
        </td>
        <td class="gap"></td>
        <td class="">
          <a class="draw-btn" href="javascript:"></a>
        </td>
        <td class="gap"></td>
        <td class="item lottery-unit lottery-unit-3">
          <div class="img">
            <img src="__PUBLIC__/images/weixin/choujiang/prize04.png" alt="">
          </div>
          <span class="name">好股中礼包</span>
        </td>
      </tr>
      <tr>
        <td class="gap-2" colspan="5"></td>
      </tr>
      <tr>
        <td class="item lottery-unit lottery-unit-6">
          <div class="img">
            <img src="__PUBLIC__/images/weixin/choujiang/prize07.png" alt="">
          </div>
          <span class="name">免费明日好股</span>
        </td>
        <td class="gap"></td>
        <td class="item lottery-unit lottery-unit-5">
          <div class="img">
            <img src="__PUBLIC__/images/weixin/choujiang/prize06.png" alt="">
          </div>
          <span class="name">免费涨停好股</span>
        </td>
        <td class="gap"></td>
        <td class="item lottery-unit lottery-unit-4">
          <div class="img">
            <img src="__PUBLIC__/images/weixin/choujiang/prize05.png" alt="">
          </div>
          <span class="name">好股小礼包</span>
        </td>
      </tr>
    </table>
  </div>

</main>

<div class="divTop">
    <img src="__PUBLIC__/images/weixin/choujiang/top03.jpg" >
</div>

<div class="divTop">
    <img src="__PUBLIC__/images/weixin/choujiang/top04.jpg" >
</div>

<div class="divBottom">
</div>


<div class="alert" id='info' style = "display : none">
    <a href=" ">
        <img style="width: 100%;" src="__PUBLIC__/images/weixin/choujiang/tc.png">
    </a>
    <img class="alert-weixin" src="__PUBLIC__/images/weixin/choujiang/tc_weixin.png">
</div>

</body>
</html>