<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <!-- 个人信息 -->
        <li class="nav-header " onclick="location.href='{:url('index/index/index')}'" >
                <div class="dropdown profile-element">
            <img alt="image" width="64" height="64" class="img-circle" src="__IMG__/logo.png" />
                </div>
            <div class="logo-element">
                Red
            </div>
        </li>
        <!-- 菜单列表 -->
        <!-- 一级菜单 -->
        <li>
            <a href="{:url('admin/index/index')}" data-model="admin-index"><i class="fa fa-th-large"></i> <span class="nav-label">系统信息</span></a>
        </li>
        <!-- 二级菜单 -->
        <li>
            <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">系统管理</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li class=""><a href="{:url('admin/user/index')}" data-model="admin-user">账号管理</a></li>
                <li><a href="{:url('admin/role/index')}" data-model="admin-role">角色管理</a></li>
                <li><a href="{:url('admin/authrule/index')}" data-model="admin-authrule">权限管理</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">微信平台管理</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li class=""><a href="{:url('admin/WeixinDeveloper/index')}" data-model="admin-WeixinDeveloper">微信开发者配置</a></li>
                <li style="display: none;"><a href="{:url('admin/WeixinAutoreply/index')}" data-model="admin-WeixinAutoreply">自动回复</a></li>
            </ul>
        </li>
       
    </ul>
</div>
